*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#fixbar{
    width: 60px;
    padding: 10px 20px;
    background: white;
    position: fixed;
    top: 40%;
    left: 0;
    display: flex;
    flex-direction: column;
}
#fixbar a{
    margin:  10px 0;
    font-size: 25px;
    text-align: center;
    color: black;
    transition: 0.3s;
    /* margin-right: 20px; */
    
}
#fixbar a:hover{
    color: orange;
    transform: scale(1.6);
}
header{
    width: 100%;
    height: 100vh;
   
}
nav{
    width: 100%;
    min-height: 100px;
   
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}
.logo{
    /* width: 40%; */
    margin-left: 2rem;
    color: rgb(196, 195, 195);
    font-size: 4rem;
    text-shadow: 2px 2px 3px green;
    font-weight: bold;
    flex-wrap: wrap;
    padding: 0 70px;
}
.menu{
    /* width: 60%; */
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 10px 20px;
    font-weight: bold;
}

.menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(63, 54, 54);
    padding: 10px 20px;
   
}
.menu a:hover{
    color: orange;

}
.menu a:first-child{
    color: orange;
}
.search{
    position: relative;
    width: 100%;

}
.search input{
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid black;
    outline: none;
}
#icon{
    position: absolute;
    right: 0;
    padding: 10px 20px;
}
#mode{
    padding: 10px 20px;
    font-size: 1.6rem;
    cursor: pointer;
    margin-left: 15px;
    /* margin-bottom: 10px; */
}
.container{
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 60px;


}
.left{
    width: 40%;

}
}
.right{
    width: 50%;
    
}
.right img{
    width: 700px;
}
.left h1{
    font-size: 3rem;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.left p{
    line-height: 2.2rem;
}
.left span{
    color: orange;
}
.btn{
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background:  orange;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
}
.btn:hover{
    background: black;
    color: orange;
}

@media (max-width:770px) {
    .logo{
        width: 100%;
        text-align: center;
        font: 2.5em;
    }
    .search{
        display: none;

    }
    #mode{
        display: none;
    }
    nav{
        padding: 0 20px;
    }
    #fixbar{
        display: none;
    }
    .menu{
        width: 100%;
        text-align: center;
    }
    
}